@model PlayerViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <span>You are player @Model.Player.Id in room @Model.RoomId</span>
    <br/>
    <span id="roomInfo"></span>
    <br />
    @if (Model.First)
    {
        <input type="button" value="BeginGame" onclick="location.href='@Url.Action("BeginGame", "Home", new { roomId = Model.RoomId } )'" />
    }
</div>

@section Scripts {
    <script>
        $(function () {
            let roomInfo = $('#roomInfo');
            repeatedlyCheck("@Model.PregameUrl", 2000, function (data) {
                roomInfo.text(data);
                let jsonData = JSON.parse(data);
                if (jsonData.GameStarted) {
                    location.href = '@Url.Action("GameStarted", "Home" )';
                }
            })
        });
    </script>
}